dist/
node_modules/
client_built/
client/build
client/ext
client/npm-debug.log
.DS_Store
/build
bootstrap.*
classic.json*
modern.json*
assets/_error-page-background.jpg
assets/_lock-screen-background.jpg
*.lock
*.log
.vscode
workspace.json
