.wizards .x-panel{
    background: #fff;
}

.wizardthree .wizardprogressbar {
    background-color: $wizard-three-button-background-color;
}

@include extjs-button-small-ui(
    $ui: 'wizard-blue',
    $color: $button-toolbar-color,
    $color-pressed: $wizard-primary-background-color,
    $background-color: transparent,
    $opacity-disabled: 1,
    $glyph-color: $button-toolbar-glyph-color,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'wizard-soft-purple',
    $color: $button-toolbar-color,
    $color-pressed: #fff,
    $background-color: transparent,
    $background-color-pressed: $wizard-two-button-background-color,
    $opacity-disabled: 1,
    $glyph-color: $button-toolbar-glyph-color,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'wizard-soft-green',
    $color: #fff,
    $color-pressed: $color,
    $background-color: transparent,
    $opacity-disabled: 1,
    $glyph-color: #fff,
    $border-width: 0
);

// This rule is required because the button mixin does not currently support
// separate icon colors for each state
.x-btn-pressed {
    .x-btn-icon-el-wizard-blue-small {
        color: $wizard-primary-background-color;
    }

    &.x-btn-disabled {
        &.x-btn-wizard-soft-purple-small,
        .x-btn-wizard-soft-purple-small-mc {
            background-color: $wizard-two-button-background-color;
        }
    }

    .x-btn-icon-el-wizard-soft-purple-small {
        color: #fff;
    }

    .x-btn-icon-el-wizard-soft-green-small {
        color: $color;
    }
}
.pages-faq-container{

    .x-header{
        &.x-panel-header-light{
            border-bottom: 1px solid $base-border-color !important;
            padding:15px 16px;
            .x-panel-header-title-light{
                color: $color;
                font-size: 14px;
                font-family: "Open Sans";
                font-weight: Bold;
            }
        }

        .x-fa{
            line-height:16px;
        }
        .x-tool-after-title .x-tool-img{
            display: none;
        }
    }
    .x-accordion-body{
        padding-left:34px;
    }
    .round-btn{
        @include btn-border($base-color);
    }

    .x-accordion-hd {
        .x-title-icon {
            color: $color !important;
        }

        &.x-collapsed .x-title-icon:before {
            content: "\f0da" !important;
        }
    }
}

.faq-left-sidebar{
    .x-fa, .x-fas, .x-far, .x-fab, .x-fa{
        font-size: 16px;
        margin-right: 10px;
    }
    .faq-tips-list {
        list-style: none;
        padding:0;
        margin:0;
        li{
            margin:15px 0;
            &:before {
                font-family:FontAwesome;
                content: "\f111";
                padding-right:10px;
            }
            &.pointone:before {
                color: $FAQ-tip-list-color-1;
            }
            &.pointtwo:before {
                color: $FAQ-tip-list-color-2;
            }
            &.pointthree:before {
                color: $FAQ-tip-list-color-3;
            }
            &.pointfour:before {
                color: $FAQ-tip-list-color-4;
            }
        }

    }
    .borderCls{
        border-bottom: 1px solid $base-border-color;
    }
}

.FAQPanel .x-title-text-default{
    font-size: 16px;
    font-weight: normal;
}
